// app global css
.dark-purple {
  background-color: #4b367c;
}

.text-dark-purple {
  color: #4b367c;
}
.bg-dark-purple {
  background: #4b367c;
}

a {
  color: grey;
  transition: color .5s;
  text-decoration-line: none;
  font-weight: 500;
}

a:hover {
 color: purple;
}
